/***背景background***/

/***背景颜色、图片、文字颜色***/




/**************************************************************************************************/	





/**盒子和浏览器的四周有8px宽的空隙。这是由于浏览器的默认的填充和边界造成的。消除这个空隙，就需要在css文件中写入margin: 0;**/
 
body
        {   
        background-color: #ffffff;
		
    }                                             

	
/**************************************************************************************************/	


/***页面层容器***/

.container 
    {
        background: #999999;
	

    }


	
/**************************************************************************************************/	
/***页面层容器***/
.topnav
    {
        background: #FFFFFF;
		

    }

	
/**************************************************************************************************/	
	
	
/*** 页面头部***/

.header
        {    
        background: #FFFFFF;

    }
	
	
/**************************************************************************************************/	

	
	
/**页面主体PageBody**/

.pagebody  
        {     
        background: #999999;

    }
	
	
/**************************************************************************************************/	
	
	
/**左边主体内容MainBody**/
 
.left-mainbody  
        {   
        background: #FFFFFF;

    }

/**************************************************************************************************/	
	
	
	
/**右边主体内容MainBody**/
 
.right-mainbody  
        {   
        background: #FFFFFF;
		

    }

/**************************************************************************************************/	
 
 
/**Vertical垂直竖条**/
 
.Vertical  
        {   
        background: #FFFFFF;
		

    }

/**************************************************************************************************/	
 
 
 
 
 
 
 
 /***
 <!--footer无法显示，把containe或sidebar背景色去除就可以看到footer,我们应该在sidebar、containe结束的地方清除浮动，让浏览器知道如何处理footer层，
而不是直接放到上面，在视觉上消失。我们在HTML中增加一个新层clearfloat，位于sidebar、containe结束的地方：
-->
 ***/
/***设置的意义是：clear:both;是指不答应左右有浮动对象；高度为1px；溢出为隐藏；顶边距为-1px，即这一层实际上是不可见的，仅为清除浮动之用。***/
#clearfloat {
clear:both;
height:1px;
overflow:hidden;
margin-top:-1px;
}

 
/**************************************************************************************************/	


	
/**页面底部**/

.footer 
        {   
        background: gray;
        color:white;  /*文字背景色*/
		
		
    }

/**************************************************************************************************/	

	
/***全局变量***/	
a:link {color: #8A2BE2}     /* 未访问的链接 */
a:visited {color: #8A2BE2}   /* 已访问的链接 */
a:hover {color: #FF0000}     /* 鼠标移动到链接上 */
a:active {color: #00FF00}    /* 选定的链接 */

/**************************************************************************************************/	

a.linkcolor:link {color: #000000}     /* 未访问的链接 */
a.linkcolor:visited {color: #000000}   /* 已访问的链接 */
a.linkcolor:hover {color: #00ff00}     /* 鼠标移动到链接上 */
a.linkcolor:active {color: #000000}    /* 选定的链接 */

	  
	  
/**************************************************************************************************/	
	  
	  
	  
	  
